
.service{
    padding-top: 50px;
 margin: 5%;
 text-align: center;
    
}
.offer{
    margin: 5%;
    text-align: center;
    padding-top: 0px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(26, 53, 32);
    color: white;
    padding-top: 5%;

  }
  
.navbar
{background-color: rgb(26, 53, 32);
}

.row {margin: 5px;

}